html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1e1e1e; 
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    z-index: 10;
}

#game-container {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
}

canvas {
    display: block;
    margin: 0 auto; 
}
